{% extends "base.html" %}

{% load notation_tags %}


{% block extra_head %}
  <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}css/chess.less" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
  <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/jchess-0.1.0.js"></script> -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jchess.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app_chess.js"></script>

{% endblock %}

{% block content %}
<div class="etude-detail-container">
  <div class="etude-detail" data-fen="{{ etude.fen }}" data-cell-size="64" data-pgn="{{ etude.moves }}">
    <div class="pull-left chess-board board64"></div>
    <div class="pull-left">
      <div>
        <a class="btn first-move" href="#" title="To First"><i class="icon-fast-backward"></i></a>
        <a class="btn prev-move" href="#" title="Backward"><i class="icon-backward"></i></a>
        <a class="btn next-move" href="#" title="Forward"><i class="icon-forward"></i></a>
        <a class="btn last-move" href="#" title="To Last"><i class="icon-fast-forward"></i></a>
        <a class="btn next-variation" href="#" title="Variation"><i class="icon-random"></i></a>
        <a class="btn flip-board" href="#" title="Flip Board"><i class="icon-retweet"></i></a>
      </div>
      <div class="description">
        <span class="author">{{ etude.get_authors }}</span> -
        <span class="year">{{ etude.year }}</span>
        <span class="result">{{ etude.get_result }}</span>
      </div>
      <pre class="chess-notation">{{ etude.moves|humanize_nag }}</pre>
    </div>
  </div>
</div>
{% endblock content %}
