{% extends "base.html" %}


{% block extra_head %}
  <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}css/chess.less" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jchess.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app_chess.js"></script>
{% endblock %}

{% block content %}
<div class="etudes-list-container">
  <div class="etudes-list-without-scroll">
    <ul class="etudes-list">
      {% for etude in etudes_list %}
      <li class="etude-cell {% if forloop.counter|divisibleby:"2" %}light{% else %}dark{% endif %}">
        <div class="etude-preview" data-fen="{{ etude.fen }}" data-cell-size="24" data-result="{{ etude.result }}">
          <a href="{{ etude.get_absolute_url }}">
            {% include "etudes/chess_board.html" with cell_size=24 board_as_image=1 %}
          </a>

          <div class="description">
              <span class="author">{{ etude.get_authors_short }}</span> -
              <span class="year">{{ etude.year }}</span>
              <span class="result">{{ etude.get_result }}</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
