{% extends "base.html" %}


{% block extra_head %}
  <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}css/chess.less" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jchess-0.1.0.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app_chess.js"></script>
{% endblock %}

{% block content %}
<div class="etudes-list-container">
  <div class="etudes-list-without-scroll">
    <ul class="etudes-list">
      {% for etude in etudes_list %}
      <li class="etude-cell {% if forloop.counter|divisibleby:"2" %}light{% else %}dark{% endif %}">
        <div class="etude-preview" data-fen="{{ etude.fen }}" data-square-size="24" data-result="{{ etude.result }}" data-pgn="{{ etude.moves }}">
          <a href="{% url etude_detail author.slug etude.id %}/"><div class="chess-board board24"></div></a>
          <div class="description">
              <span class="author">{{ etude.get_authors }}</span> -
              <span class="year">{{ etude.year }}</span>
              <span class="result">{{ etude.get_result }}</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
