{% extends "base.html" %}

{% load chess_tags %}


{% block title %}Search etudes{% endblock %}

{% block nav_search %}class="active"{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" media="screen and (max-height: 850px)" href="{{ STATIC_URL }}css/search850.css" />
  <link rel="stylesheet" type="text/css" media="screen and (min-height: 851px)" href="{{ STATIC_URL }}css/search.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.8.19.dragdrop.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app_search.js"></script>
{% endblock %}

{% block content %}
<div class="etudes-search">

    <form class="form-horizontal etudes-search-form{% if etudes_list %} hide-form{% endif %}"
          method="post" action="{% url etudes_search %}">
    {% csrf_token %}

    {% if etudes_list %}
      {% include "etudes/auxilary_etudes_list.html" with list_class="search-result-list" %}
    {% endif %}

    <div class="form-fieldsets form-showed">
      <div class="clearfix">
        <div class="pull-left">
          <fieldset class="text-fields clearfix">
            <legend>Search by Meta Parameters
              <input type="button" class="btn btn-reset-fieldset" value="Clear">
            </legend>

            <div class="fieldset-inner">
              <div class="control-group">
                <label class="control-label">{{ form.author.label }}</label>
                <div class="controls">{{ form.author }}</div>
              </div>

              <div class="control-group">
                <label class="control-label">{{ form.result.label }}</label>
                <div class="controls btn-group" data-toggle="buttons-checkbox">
                  {% for choice in form.result.field.choices %}
                  <label for="id_result_{{ forloop.counter0 }}" 
                      class="btn{% if choice.0 in form.result.value %} active{% endif %}">
                    {{ choice.1 }}
                  </label>
                  {% endfor %}
                </div>
                <div class="hide">{{ form.result }}</div>
              </div>

              <div class="control-group">
                <label class="control-label">{{ form.start_year.label }}</label>
                <div class="controls">
                  {{ form.start_year }} - {{ form.end_year }}
                  <p class="help-block">{{ form.start_year.help_text }}</p>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">{{ form.notation.label }}</label>
                <div class="controls">
                  {{ form.notation }}
                  <p class="help-block">{{ form.notation.help_text }}</p>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="pieces-count clearfix">
            <legend>Search by Pieces Amount
              <input type="button" class="btn btn-reset-fieldset" value="Clear">
            </legend>

            <div class="fieldset-inner">
              <div class="white-counts clearfix">
                {{ form.white_pieces_regexp }}
                <div class="pull-left pieces">
                  <div class="clearfix">
                    {% for piece in "KQRBNP" %}
                      <span class="piece-block block"><span class="piece w{{ piece }}"></span></span>
                    {% endfor %}
                  </div>

                  <div class="clearfix">
                    {% for value in form.white_pieces_regexp.value|default:"1,,,,,"|split:"," %}
                      <input class="block" type="text" {% if forloop.first %}disabled="disabled"{% endif %} value="{{ value }}" />
                    {% endfor %}
                  </div>
                </div>

                <div class="total pull-left">
                  {{ form.white_count_cmp }}
                  {{ form.white_count }}
                  <div class="help-text">White Pieces Total</div>
                </div>
              </div>

              <div class="black-counts clearfix">
                {{ form.black_pieces_regexp }}
                <div class="pull-left pieces">
                  <div class="clearfix">
                    {% for piece in "kqrbnp" %}
                      <span class="piece-block block"><span class="piece b{{ piece }}"></span></span>
                    {% endfor %}
                  </div>

                  <div class="clearfix">
                    {% for value in form.black_pieces_regexp.value|default:"1,,,,,"|split:"," %}
                      <input class="block" type="text" {% if forloop.first %}disabled="disabled"{% endif %} value="{{ value }}" />
                    {% endfor %}
                  </div>
                </div>

                <div class="total pull-left">
                  {{ form.black_count_cmp }}
                  {{ form.black_count }}
                  <div class="help-text">Black Pieces Total</div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <fieldset class="position pull-left">
          <legend>Search by Position
            <input type="button" class="btn btn-reset-fieldset" value="Clear">
          </legend>

          <div class="fieldset-inner">
            <div class="control-group">
              <label class="control-label">{{ form.fen.label }}</label>
              <div class="controls">
                {{ form.fen }}
              </div>
            </div>

            <div class="help-block">{{ form.fen.help_text }}</div>

            <div class="position-builder clearfix">
              {{ form.fen_regexp }}
              {% include "etudes/chess_board.html" with cell_size=36 board_as_table=1 class="pull-left" pieces_on_board=pieces_on_board %}

              <div class="pull-right">
                <ul>
                {% for piece in "KQRBNP" %} 
                  <li>
                    <span class="piece-block block"><span data-piece="{{ piece }}" class="piece w{{ piece }}"></span></span>
                    <span class="piece-block block"><span data-piece="{{ piece|lower }}" class="piece b{{ piece|lower }}"></span></span>
                  </li>
                {% endfor %}
                  <li>
                    <span class="piece-block block"><span data-piece="A" class="aux-piece w-question"></span></span>
                    <span class="piece-block block"><span data-piece="a" class="aux-piece b-question"></span></span>
                  </li>
                  <li>
                    <span class="piece-block block"><span data-piece="e" class="aux-piece wb-question"></span></span>
                    <span class="piece-block block"><span class=""></span></span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="form-actions">
              <button class="btn btn-clear-board">Clear Board</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="form-actions">
      {% if post %}
        {% if form.errors %}
          <div class="pull-left form-errors alert alert-error">{{ form.errors.values.0.0 }}</div>
        {% elif not etudes_list %}
          <div class="pull-left empty-result alert alert-error">Search result is empty</div>
        {% else %}
          {% with total=paginator.count %}
            <div class="pull-left result alert alert-success">{{ total }} etude{{ total|pluralize }} found</div>
          {% endwith %}
        {% endif %}
      {% endif %}

      {% if etudes_list and not form.errors %}
        <button class="btn btn-toggle-form form-hidden">Show Search Form</button>
        <button class="btn btn-toggle-form form-showed">Show Etudes</button>
      {% endif %}
      <button type="submit" class="btn btn-primary form-showed">Search</button>
    </div>
  </form>
</div>
{% endblock %}
