{% extends "base.html" %}


{% block title %}Chess Etudes Database{% endblock %}

{% block nav_index %}class="active"{% endblock %}

{% block content %}
<h1>Chess Etudes Database</h1>

<h3 style="margin-top: 100px;">
  This is beta version of application.
  If you find any bug or know how to make this application better,
  please contact us.
</h3>
<h3 style="margin-top: 20px;">
  Application wasn't tested in Internet Explorer and may work incorrect.
  Use modern browsers for correct work.
</h3>
{% endblock %}
