{% for etude in etudes_list %}
<li class="etude-cell {% if forloop.counter|divisibleby:"2" %}light{% else %}dark{% endif %}">
  <div class="etude-preview" data-fen="{{ etude.fen }}" data-result="{{ etude.result }}">
    <a href="{{ etude.get_absolute_url }}">
      {% include "etudes/chess_board.html" with board_as_image=1 %}
    </a>

    <div class="description">
      <div class="descr-left">
          <span class="author">{{ etude.get_authors_short }}</span> -
          <span class="year">{{ etude.get_year }}</span>
      </div>
      <span class="result">{{ etude.get_result }}</span>
    </div>
  </div>
</li>
{% endfor %}
