<!doctype html>
<html>
  <head>
    <meta name="keywords" content="chess,etude,etudes,database">

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />

    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 850px)" href="{{ STATIC_URL }}css/main850.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-height: 851px)" href="{{ STATIC_URL }}css/main.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ng/navigation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/support.js"></script>

    {% block extra_head %}{% endblock %}
    {% block custom_css %}{% endblock %}
    {% block custom_js %}{% endblock %}

    <title>{% block title %}Chess etudes{% endblock %}</title>

    {% include "ga.html" %}
  </head>

  <body class="{% block body_class %}{% endblock%}">
    <div class="wrapper">
      {% block header %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container" ng-app="navList">
              <ul class="nav" ng-controller="navCtrl">
                <li ng-class="class('{% url home %}')"><a href="{% url home %}">Etudes</a></li>
                <li ng-class="class('{% url etudes_search %}')"><a href="{% url etudes_search %}">Search Etudes</a></li>
                <li><a href="{% url etude_random %}">Random Etude</a></li>
                <li ng-class="class('{% url composers_list %}')"><a href="{% url composers_list %}">Composers</a></li>
              </ul>

              <ul class="nav pull-right">
                <li><a href="mailto:{{ settings.CONTACT_EMAIL }}" target="_blank" class="right">Contact Precisely.So</a></li>
                <li><a id="bug-report" href="mailto:{{ settings.CONTACT_EMAIL }}?subject=Bug%20report"
                       target="_blank" class="right">Report a bug</a></li>
              </ul>
            </div>
          </div>
        </div>
      {% endblock %}

      <div class="container">
        {% block content %}{% endblock %}
      </div>

      {% block footer %} {% include "footer.html" %} {% endblock %}
    </div>
  </body>
</html>
