<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="/">Etudes</a></li>
        <li><a href="{% url etudes_search %}">Search Etudes</a></li>
        <li><a href="{% url etude_random %}">Random Etude</a></li>
        <li><a href="{% url composers_list %}">Composers</a></li>
      </ul> 

      <ul class="nav pull-right">
        <li><a href="#" class="brand right">Precisely.So</a></li>
      </ul>
    </div>
  </div>
</div>
