.chess-piece (@cell-size, @pieces-theme: 'alpha') {
  background: transparent url('../images/pieces/@{pieces-theme}/@{cell-size}.png') no-repeat;
  width: @cell-size;
  height: @cell-size;
  padding: 0; 
  display: block;

  &.wK { background-position: @cell-size * (0px) 0; }
  &.wQ { background-position: @cell-size * (-1px) 0; }
  &.wR { background-position: @cell-size * (-2px) 0; }
  &.wB { background-position: @cell-size * (-3px) 0; }
  &.wN { background-position: @cell-size * (-4px) 0; }
  &.wP { background-position: @cell-size * (-5px) 0; }

  &.bk { background-position: @cell-size * (-6px) 0; }
  &.bq { background-position: @cell-size * (-7px) 0; }
  &.br { background-position: @cell-size * (-8px) 0; }
  &.bb { background-position: @cell-size * (-9px) 0; }
  &.bn { background-position: @cell-size * (-10px) 0; }
  &.bp { background-position: @cell-size * (-11px) 0; }
}


.chess-board (@cell-size, @pieces-theme: 'alpha') {
  width: @cell-size * 8;
  height: @cell-size * 8;
  position: relative;

  .piece {
    position: absolute;
    margin: 0;
    .chess-piece(@cell-size, @pieces-theme);
  }
  &.board-as-image {
    background: transparent url('../images/boards/board@{cell-size}.png') no-repeat;
  }
  &.board-as-table {
    td {
      width: @cell-size;
      height: @cell-size;
      &.white { background-color: white; }
      &.black { background-color: #b2b2b2; }
    }
  }
}

.chess-board {
  .chess-board(64px);

  &.board24 { .chess-board(24px); }
  &.board32 { .chess-board(32px); }
  &.board36 { .chess-board(36px); }
  &.board52 { .chess-board(52px); }
  &.board64 { .chess-board(64px); }
  &.board80 { .chess-board(80px); }
}

.chess-notation {
  width: 400px;
  word-break: none;

  .move {
    display: inline-block;
    cursor: default;
    border-radius: 4px;
    padding: 0 6px 1px;
    &.active {
      background-color: #999;
      color: white;
    }

    &:hover {
      background-color: #444;
      color: white;
    }
  }
}
