ul, li {
  list-style-type: none;
  margin: 0;
}
.etudes-list-without-scroll {
  width: 770px;
  height: 500px;
  overflow-y: scroll;
}
.etudes-list-container {
  width: 750px;
  overflow-x: hidden;
  margin: auto;
}

.etude-cell {
  padding: 16px 29px 16px;
  float: left;
}
.etude-cell.light {
  background-color: #fefefe;
}
.etude-cell.dark {
  background-color: #fafafa;
}
.etude-cell:hover {
  background-color: #efefef;
}

.etude-preview {
  margin: auto;
}

.etude-preview .description {
  margin: 10px 0 0;
  font-size: 13px;
  font-weight: bold;
  height: 14px;
}
.etude-preview .description .result {
  float: right;
}
