/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.etudes-search .position .chess-board {
  width: 288px;
  height: 288px;
  position: relative;
}
.etudes-search .position .chess-board .piece {
  position: absolute;
  margin: 0;
  background: transparent url('../images/pieces/alpha/36.png') no-repeat;
  width: 36px;
  height: 36px;
  padding: 0;
  display: block;
}
.etudes-search .position .chess-board .piece.wK {
  background-position: 0px 0;
}
.etudes-search .position .chess-board .piece.wQ {
  background-position: -36px 0;
}
.etudes-search .position .chess-board .piece.wR {
  background-position: -72px 0;
}
.etudes-search .position .chess-board .piece.wB {
  background-position: -108px 0;
}
.etudes-search .position .chess-board .piece.wN {
  background-position: -144px 0;
}
.etudes-search .position .chess-board .piece.wP {
  background-position: -180px 0;
}
.etudes-search .position .chess-board .piece.bk {
  background-position: -216px 0;
}
.etudes-search .position .chess-board .piece.bq {
  background-position: -252px 0;
}
.etudes-search .position .chess-board .piece.br {
  background-position: -288px 0;
}
.etudes-search .position .chess-board .piece.bb {
  background-position: -324px 0;
}
.etudes-search .position .chess-board .piece.bn {
  background-position: -360px 0;
}
.etudes-search .position .chess-board .piece.bp {
  background-position: -396px 0;
}
.etudes-search .position .chess-board.board-as-image {
  background: transparent url('../images/boards/board36.png') no-repeat;
}
.etudes-search .position .chess-board.board-as-table td {
  vertical-align: top;
  width: 36px;
  height: 36px;
}
.etudes-search .position .chess-board.board-as-table td.white {
  background-color: white;
}
.etudes-search .position .chess-board.board-as-table td.black {
  background-color: #b2b2b2;
}
.etudes-search .position .aux-piece {
  width: 32px;
  height: 32px;
  background: url('../images/pieces/questions/32.png');
  display: block;
}
.etudes-search .position .aux-piece.w-question {
  background-position: 0 0;
}
.etudes-search .position .aux-piece.b-question {
  background-position: -32px 0;
}
.etudes-search .position .aux-piece.wb-question {
  background-position: -64px 0;
}
.etudes-search .position .chess-board .aux-piece {
  width: 36px;
  height: 36px;
  background: url('../images/pieces/questions/36.png');
  display: block;
}
.etudes-search .position .chess-board .aux-piece.w-question {
  background-position: 0 0;
}
.etudes-search .position .chess-board .aux-piece.b-question {
  background-position: -36px 0;
}
.etudes-search .position .chess-board .aux-piece.wb-question {
  background-position: -72px 0;
}
.etudes-search .piece-block {
  background-color: #efefef;
  display: inline-block;
}
.etudes-search .piece-block .piece {
  background: transparent url('../images/pieces/alpha/32.png') no-repeat;
  width: 32px;
  height: 32px;
  padding: 0;
  display: block;
}
.etudes-search .piece-block .piece.wK {
  background-position: 0px 0;
}
.etudes-search .piece-block .piece.wQ {
  background-position: -32px 0;
}
.etudes-search .piece-block .piece.wR {
  background-position: -64px 0;
}
.etudes-search .piece-block .piece.wB {
  background-position: -96px 0;
}
.etudes-search .piece-block .piece.wN {
  background-position: -128px 0;
}
.etudes-search .piece-block .piece.wP {
  background-position: -160px 0;
}
.etudes-search .piece-block .piece.bk {
  background-position: -192px 0;
}
.etudes-search .piece-block .piece.bq {
  background-position: -224px 0;
}
.etudes-search .piece-block .piece.br {
  background-position: -256px 0;
}
.etudes-search .piece-block .piece.bb {
  background-position: -288px 0;
}
.etudes-search .piece-block .piece.bn {
  background-position: -320px 0;
}
.etudes-search .piece-block .piece.bp {
  background-position: -352px 0;
}
.etudes-search .block {
  padding: 2px;
  height: 32px;
  width: 32px;
  display: block;
  float: left;
  border: none;
  border-right: 1px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.etudes-search .white-counts,
.etudes-search .black-counts {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  display: inline-block;
  margin: -1px 0 0;
}
.etudes-search .white-counts input.block,
.etudes-search .black-counts input.block {
  border-top: 1px solid #ccc;
  text-align: center;
  outline: none;
  box-shadow: none;
  font-size: 16px;
}
.etudes-search .white-counts .piece-count,
.etudes-search .black-counts .piece-count {
  border-top: 1px solid #ccc;
}
.etudes-search .white-counts .total select,
.etudes-search .black-counts .total select,
.etudes-search .white-counts .total input,
.etudes-search .black-counts .total input {
  width: 52px;
  height: 37px;
  font-size: 21.333333333333332px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  text-align: center;
}
.etudes-search .white-counts .total .help-text,
.etudes-search .black-counts .total .help-text {
  width: 104px;
  text-align: center;
  font-size: 11.8px;
}
.etudes-search fieldset {
  width: 357px;
  margin-right: 30px;
}
.etudes-search fieldset legend {
  border: none;
  text-align: left;
  margin: 0;
}
.etudes-search fieldset .fieldset-inner {
  margin-top: 26px;
}
.etudes-search fieldset .control-group .control-label {
  width: 70px;
}
.etudes-search fieldset .control-group .controls {
  margin-left: 80px;
}
.etudes-search fieldset.pieces-count {
  text-align: center;
}
.etudes-search fieldset.position {
  width: 387px;
  margin: 0;
}
.etudes-search fieldset.position .control-group label {
  width: 40px;
}
.etudes-search fieldset.position .control-group .controls {
  margin-left: 70px;
}
.etudes-search fieldset.position .control-group .controls input {
  width: 100%;
  margin-left: -10px;
}
.etudes-search fieldset.position .help-block {
  margin: 15px 0 20px;
  font-size: 13px;
}
.etudes-search fieldset.position .form-actions {
  margin-bottom: 0;
  padding: 15px;
  margin-top: 20px;
}
.etudes-search fieldset .operator-buttons {
  float: right;
  margin: 6px 0;
}
.etudes-search fieldset .operator-buttons .btn {
  padding: 1px 7px;
}
.etudes-search fieldset .btn-reset-fieldset {
  float: right;
  margin: 6px 0;
  padding: 1px 7px;
}
.etudes-search .etudes-search-form {
  width: 774px;
  display: table;
  margin: 0 auto;
  padding: 0;
}
.etudes-search .etudes-search-form .form-fieldsets {
  height: 516px;
}
.etudes-search .etudes-search-form .form-actions {
  margin: 15px 0 0;
  padding-left: 20px;
}
.etudes-search .etudes-search-form .form-actions button {
  float: right;
  margin-left: 5px;
}
.etudes-search .etudes-search-form .form-actions .alert {
  margin: 0;
  padding: 4px 10px;
}
.etudes-search .etudes-search-form .form-showed {
  display: block;
}
.etudes-search .etudes-search-form .form-hidden {
  display: none;
}
.etudes-search .etudes-search-form.hide-form .form-showed {
  display: none;
}
.etudes-search .etudes-search-form.hide-form .form-hidden {
  display: block;
}
